{% extends base.html.twig %}
{% block title %}Hello QuackController!{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>le quack demandé </h1>
    </div>
    <p>Id: {{ quack.id }}</p>
    <p>Le contenu: {{ quack.content }} </p>
    <p>Publié le: {{ quack.createdat | date ('Y-m-d') }} </p>
    <a href="{{ path('app_quack') }}"><button> Retour </button></a>
    <a href="{{ path('quack_remove', {id: quack.id}) }}"><button> Supprimer </button></a>
    <a href="{{ path('quack_edit', {id: quack.id}) }}"><button> Modifier </button></a>

{% endblock %}